@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@600&display=swap');

//Poppins-Regular - lotin
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Poppins-Regular.ttf) format("ttf");
}

//Poppins-Medium - lotin
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Poppins-Medium.ttf) format("ttf");
}

//Poppins-SemiBold - lotin
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Poppins-SemiBold.ttf) format("ttf");
}

//Poppins-Bold - lotin
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Poppins-Bold.ttf) format("ttf");
}