.business {
    padding-bottom: 150px;

    &__inner {
        width: 100%;
        max-width: 968px;
        min-height: 345px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-right: 26px;
        padding-left: 51px;
        background-color: $color-green;
        border-radius: 32px;
    }

    &__content {
        width: 100%;
        max-width: 490px;
    }
    
    &__title {
        margin-top: 49px;
        margin-bottom: 50px;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: $color-wight;
    }
    
    &__btn {
        @include button(150px, 50px, $color-green, $color-wight)
    }
    
    &__img {
        width: 100%;
        max-width: 351px;
        height: 331px;
        object-fit: cover;
    }
}

@include breakpoint-down(850px) {
    .business {
        padding-bottom: 100px;
    
        &__inner {
            flex-direction: column;
            align-items: center;
            padding-right: 0px;
            padding-left: 0px;
            text-align: center;
        }

        &__content {
            padding-right: 21px;
            padding-left: 22px;
            
        }
    
        &__title {
            margin-top: 17px;
        }

        &__btn {
            margin-bottom: 0px;
            margin: 0 auto;

        }
    
        &__img {
            width: 100%;
            max-width: 351px;
            height: 331px;
            object-fit: contain;
        }
    }
}