.clients {
    padding-bottom: 157px;

    &__inner {
        width: 100%;
        max-width: 1110px;
        text-align: center;
    }

    &__title {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 34px;
        line-height: 57px;
        letter-spacing: 0.2px;
    }

    &__desc {
        width: 100%;
        max-width: 537px;
        margin: 0 auto;
        margin-bottom: 50px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.2px;
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        width: 100%;
        max-width: 327px;
        min-height: 236px;
        margin-bottom: 32px;
        padding-top: 63px;
        padding-right: 26px;
        padding-left: 26px;
        text-align: left;
        background-color: $color-wight;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
    }

    &__item::before {
        position: absolute;
        top: 28px;
        width: 107px;
        height: 19px;
        background-image: url("../../imgs/clients-stars.png");
        content: "";
    }

    &__item-desc {
        width: 100%;
        max-width: 270px;
        margin-bottom: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: #737373;
    }

    &__profil {
        display: flex;
        align-items: center;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        margin-right: 14px;
        object-fit: cover;
    }

    &__profil-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    &__name {
        width: 100%;
        display: inline-block;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: $color-green;
    }

    &__job {
        width: 100%;
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
}

@include breakpoint-down(850px) {
    .clients {
        padding-bottom: 100px;

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}